/*********************************************************
* Base
*/
body {
  width: 960px;
  margin: 30px auto;
  font-family: "Open sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}
/*********************************************************
* Track Events
*/
.te-container {
  height: 30px;
  width: 100%;
  border-bottom: 1px dashed #d9dddd;
}
.media-te {
  position: relative;
  height: 31px;
  width: 300px;
  left: 100px;
  border-radius: 3px;
  background: #555;
  z-index: 1;
}
.te-title {
  display: block;
  height: 31px;
  overflow: hidden;
  word-wrap: none;
  line-height: 31px;
  margin-left: 15px;
  color: #FFF;
  font-size: 12px;
}
.te {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 31px;
  width: 300px;
  border-radius: 3px;
}
.te.editing {
  background: rgba(85, 85, 85, 0.2);
  z-index: 1;
}
.te.ui-state-disabled {
  opacity: 1;
}
.clip {
  position: absolute;
  top: 0;
  height: 30px;
  left: 20px;
  width: 100px;
  background: #FFF;
  border: 1px solid #cccccc;
}
.editing .clip {
  border-color: #3fb58e;
  box-shadow: 0 0 10px 1px #3fb58e;
}
.clip-duration {
  position: relative;
  height: 28px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.clip-duration:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0;
  background: #555555;
  border-radius: 3px;
}
.clip-duration > label {
  position: absolute;
  top: 100%;
  font-size: 10px;
  font-family: menlo;
}
.clip-duration > label.clip-end {
  right: 0;
}
.clip-section {
  position: relative;
  top: 0;
  height: 100%;
  left: 28px;
  width: 100px;
  box-shadow: inset 0 0 0 2px #3fb58e;
  background: rgba(63, 181, 142, 0.15);
}
/*********************************************************
* UI
*/
.hide {
  display: none !important;
}
.ui-resizable-handle,
.ui-resizable-w,
.ui-resizable-e {
  background: white;
  border: 1px solid black;
  height: 10px;
  width: 3px;
  top: 50%;
  margin-top: -6px;
}
.ui-resizable-w {
  left: -2px;
}
.ui-resizable-e {
  right: -2px;
}
/*********************************************************
* Editor
*/
.right-panel {
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e7edf0;
  border-left: 1px solid #cccccc;
}
.field-label {
  font-size: 13px;
  font-weight: 600;
  color: #555;
  line-height: 2;
}
.inner-panel {
  padding: 20px;
}
.editor-title {
  background: #FFF;
  border-bottom: 1px solid #cccccc;
  margin: 0;
  font-size: 14px;
  line-height: 60px;
  height: 60px;
  padding-left: 20px;
}
/*********************************************************
* Tray
*/
.tray {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 351px;
  height: 150px;
  border-top: 1px solid #cccccc;
}
/*********************************************************
* Prototype Utils
*/
.proto-note {
  position: fixed;
  top: 5px;
  right: 355px;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #f3d310;
  font-family: menlo;
  font-size: 12px;
  width: 150px;
  display: none;
}
/*********************************************************
* Tooltip
*/
.tooltip {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  margin-left: -75px;
  width: 150px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border: 1px solid #cccccc;
  background: #FFF;
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}
[data-tooltip]:hover .tooltip,
.tooltip-on .tooltip {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}
.tooltip.top {
  top: auto;
  bottom: 100%;
  margin-bottom: 5px;
}
.tooltip-tip {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  height: 12px;
  width: 18px;
  overflow: hidden;
}
.tooltip-tip > span {
  position: absolute;
  display: block;
  background: #FFF;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  height: 12px;
  width: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
